#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    quick-tap-ms = <200>;
    require-prior-idle-ms = <125>;
    flavor = "tap-preferred";
};

/ {
    combos {
        compatible = "zmk,combos";

        right-parenthesis {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <4 3>;
            layers = <0>;
        };

        left-parenthesis {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <2 3>;
            layers = <0>;
        };

        right-brace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <34 35>;
            layers = <0>;
        };

        left-brace {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <33 34>;
            layers = <0>;
        };

        asterisk {
            bindings = <&kp ASTRK>;
            key-positions = <>;
            layers = <0>;
        };

        ampersand {
            bindings = <&kp AMPS>;
            key-positions = <>;
            layers = <0>;
        };

        exclamation {
            bindings = <&kp EXCL>;
            key-positions = <>;
            layers = <0>;
        };

        left-bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <7 8>;
            layers = <0>;
        };

        right-bracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <8 9>;
            layers = <0>;
        };

        assign_value {
            bindings = <&ass_val>;
            key-positions = <2 4 3>;
            layers = <0>;
        };

        backslash {
            bindings = <&kp BSLH>;
            key-positions = <4 5>;
            layers = <0>;
        };

        question {
            bindings = <&kp QMARK>;
            key-positions = <35 36>;
            layers = <0>;
        };

        equals {
            bindings = <&kp EQUAL>;
            key-positions = <28 27>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <26 27>;
            layers = <0>;
        };

        slash {
            bindings = <&kp SLASH>;
            key-positions = <28 29>;
            layers = <0>;
        };

        pg-up {
            bindings = <&kp PAGE_UP>;
            key-positions = <7 8>;
            layers = <1>;
        };

        pg-down {
            bindings = <&kp PAGE_DOWN>;
            key-positions = <33 34>;
            layers = <1>;
        };

        next-word {
            bindings = <&kp LC(RIGHT_ARROW)>;
            key-positions = <20 21>;
            layers = <1>;
        };

        prev-word {
            bindings = <&kp LC(LEFT_ARROW)>;
            key-positions = <19 20>;
            layers = <1>;
        };
    };

    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            label = "Home Row Mod Left";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <41 42 43 31 32 7 8 9 10 11 19 20 21 22 23 33 34 35 36 37 6 18>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            label = "Home Row Mod Right";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 30 38 39 40>;
        };

        tdmo_1_4: tdmo_1_4 {
            compatible = "zmk,behavior-tap-dance";
            label = "Tap Dance Layer Nav & Debug";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&to 4>;
        };

        more: more {
            compatible = "zmk,behavior-hold-tap";
            label = "Mod / Repeat";
            bindings = <&mo>, <&key_repeat>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            quick-tap-ms = <100>;
            flavor = "tap-preferred";
        };

        hrmp: hrmp {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM for pinky";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick-tap-ms = <100>;
            flavor = "tap-preferred";
        };

        tdmo_2_6: tdmo_2_6 {
            compatible = "zmk,behavior-tap-dance";
            label = "Tap Dance Layer Change Sym & Media";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&to 6>;
        };
    };

    macros {
        ass_val: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON &kp EQUAL>;
            label = "NEW_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESC    &kp Q                 &kp W            &kp E                &kp R              &kp T                                &kp Y      &kp U               &kp I                 &kp O        &kp P                     &kp DELETE
&kp TAB    &hrmp LEFT_CONTROL A  &hml LEFT_ALT S  &hml LEFT_COMMAND D  &hml LEFT_SHIFT F  &kp G                                &kp H      &hmr RIGHT_SHIFT J  &hmr RIGHT_COMMAND K  &hmr LALT L  &hrmp RIGHT_CONTROL SEMI  &kp BACKSPACE
&kp LSHFT  &kp Z                 &kp X            &kp C                &kp V              &kp B      &kp LBKT       &kp RBKT   &kp N      &kp M               &kp COMMA             &kp DOT      &kp SINGLE_QUOTE          &kp RSHFT
                                                                       &kp LGUI           &tdmo_1_4  &lt 5 SPACE    &kp ENTER  &tdmo_2_6  &kp BACKSPACE
            >;

            display-name = "Base";
        };

        nav {
            bindings = <
&trans  &kp ESC           &kp TAB       &kp F11       &kp F10         &kp F9                                              &kp ESC             &kp TAB                    &kp K_UNDO             &kp DELETE    &kp BACKSPACE           &trans
&trans  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI  &kp LEFT_SHIFT  &kp F12                                             &kp LA(LEFT_ARROW)  &hmr RIGHT_GUI LEFT_ARROW  &hmr RIGHT_SHIFT DOWN  &hmr LALT UP  &hmr RCTRL RIGHT_ARROW  &kp LA(RIGHT_ARROW)
&trans  &kp LG(Z)         &kp LG(X)     &kp LG(C)     &kp LG(V)       &kp LG(SPACE)  &kp LA(BACKSPACE)    &kp LA(DELETE)  &kp INSERT          &kp HOME                   &kp PG_DN              &kp PG_UP     &kp END                 &to 7
                                                      &trans          &trans         &trans               &trans          &mo 3               &trans
            >;

            display-name = "Nav";
        };

        num-sym {
            bindings = <
&trans  &kp NUMBER_1              &kp NUMBER_2        &kp NUMBER_3                 &kp NUMBER_4                  &kp NUMBER_5                    &kp NUMBER_6  &kp NUMBER_7            &kp NUMBER_8     &kp NUMBER_9           &kp NUMBER_0       &trans
&trans  &hrmp LEFT_CONTROL GRAVE  &hrm LEFT_ALT PIPE  &hrm LEFT_COMMAND LESS_THAN  &hrm LEFT_SHIFT GREATER_THAN  &kp TILDE                       &kp UNDER     &hrm RIGHT_SHIFT EQUAL  &hrm RGUI COLON  &hrm LALT EXCLAMATION  &hrmp RCTRL MINUS  &trans
&trans  &kp EXCL                  &kp AT              &kp HASH                     &kp DOLLAR                    &kp PERCENT   &trans    &trans  &kp CARET     &kp AMPERSAND           &kp ASTERISK     &kp SLASH              &kp QMARK          &to 7
                                                                                   &trans                        &mo 3         &trans    &trans  &trans        &trans
            >;

            display-name = "Symbols";
        };

        adj {
            bindings = <
&bootloader  &kp F1  &kp F2   &kp F3   &kp F4   &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans       &kp F5  &kp F6   &kp F7   &kp F8   &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans       &kp F9  &kp F10  &kp F11  &kp F12  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                       &trans   &trans  &trans    &trans  &trans  &trans
            >;

            display-name = "Adjust";
        };

        num-debug {
            bindings = <
&trans  &kp N1     &kp N2       &kp N3    &kp N4     &kp N5                    &kp N6  &kp N7     &kp N8    &kp N9    &kp N0     &trans
&trans  &kp LCTRL  &kp LALT     &kp LGUI  &kp LSHFT  &trans                    &trans  &kp LSHFT  &kp LGUI  &kp LALT  &kp LCTRL  &trans
&trans  &kp F5     &kp LS(F11)  &kp F11   &kp F10    &kp F9  &trans    &trans  &trans  &trans     &trans    &trans    &trans     &trans
                                          &trans     &to 0   &trans    &trans  &trans  &trans
            >;
        };

        mouse-nav {
            bindings = <
&trans  &mkp MCLK       &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &trans                    &mkp MB4      &mkp LCLK       &mkp MCLK       &mkp RCLK     &mkp MB5         &trans
&trans  &trans          &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans                    &trans        &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &trans
&trans  &msc SCRL_LEFT  &msc SCRL_UP    &msc SCRL_DOWN  &msc SCRL_RIGHT  &trans  &trans    &trans  &kp LA(LEFT)  &kp LEFT        &kp DOWN        &kp UP        &kp RIGHT        &kp LA(RIGHT)
                                                        &trans           &trans  &trans    &trans  &trans        &trans
            >;
        };

        media {
            display-name = "Adjust";
            bindings = <
&bootloader  &trans  &trans  &trans  &trans  &trans                    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4          &bt BT_CLR
&trans       &trans  &trans  &trans  &trans  &trans                    &out OUT_BLE  &kp C_VOL_DN  &kp C_MUTE        &kp C_VOL_UP  &kp C_BRIGHTNESS_INC  &studio_unlock
&trans       &trans  &trans  &trans  &trans  &trans  &trans    &trans  &out OUT_USB  &kp C_PREV    &kp C_PLAY_PAUSE  &kp C_NEXT    &kp C_BRIGHTNESS_DEC  &trans
                                     &trans  &trans  &trans    &trans  &trans        &trans
            >;
        };

        gaming-main {
            bindings = <
&kp ESC  &kp T      &kp Q  &kp W  &kp E  &kp R                       &trans        &trans          &kp UP          &trans           &trans        &to 0
&kp TAB  &kp LSHFT  &kp A  &kp S  &kp D  &kp F                       &trans        &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans        &kp RIGHT_SHIFT
&kp I    &kp LCTRL  &kp Z  &kp X  &kp C  &kp V  &kp B        &trans  &kp NUMBER_6  &kp NUMBER_7    &kp NUMBER_8    &kp NUMBER_9     &kp NUMBER_0  &kp LCTRL
                                  &kp G  &mo 8  &kp SPACE    &trans  &trans        &trans
            >;
        };

        gaming-extra {
            bindings = <
&trans  &kp N6  &kp N7  &trans  &kp N8  &kp N9                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &kp N0                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
